body {
  background: url(http://orig14.deviantart.net/9a9d/f/2016/068/a/8/dark_geometric_wallpaper___fullhd___1080p_by_dearvoodoo-d9ujiwe.png) center repeat;
}

.container-1 {
  padding: 5px;
  width: 70vw;
  border: .5vw solid #c7c4c5;
  background-color: rgb(13,13,13,0.75);
  text-align: center;
}

.head {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.title {
  display: flex;
  align-content: center;
  width: 40vw;
  border: .1vw solid #c7c4c5;
}

#hal {
  display: flex;
  justify-content: flex-end;
  width: 19.85vw;
  padding: .1vw;
  background-color: #47aad6;
  color: white;
}

#nine_k {
  display: flex;
  justify-content: flex-start;
  width: 19.85vw;
  padding: .1vw;
  background-color: #141414;
  color: #e9e9e9;
}

.container img {
  width: 25vw;
  max-width: 100%;
  margin: 1em;
}

.input-box {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.form-control {
  background-color: #222323;
  color: #b62f26;
  font-weight: bold;
}

.form-control::placeholder {
  color: white;
  opacity: .9;
}

.form-control:focus {
  color: #b62f26;
  background-color: #222323;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.container-2 {
  padding: 5px;
  width: 70vw;
  border: .5vw solid #c7c4c5;
  background-color: rgb(13,13,13,0.75);
  text-align: center;
}

#output {
  list-style: none;
  color: white;
}
